<div>
    <div class="auth_container">
        <div class="bg_img">
            <div class="hello">გამარჯობა</div>
        </div>
        <div class="auth_box">
            <button>
                <span class="X"></span>
            </button>
            <div class="reg_auth">
                <button class="auth_btn">ავტორიზაცია</button>
                <button class="auth_btn">რეგისტრაცია</button>
            </div>
            <div class="entr_information">
                <input class="auth_input" type="text" placeholder="მომხმარებელი/მეილი" name="email" id="email" required>
                <input class="auth_input" type="password" placeholder="პაროლი" name="psw" id="psw" required>
            </div>
            <div class="login_para">
                <label class="container">
                    <input type="checkbox">
                    <span class="checkmark"></span>
                    პაროლის შენახვა
                  </label>
                <span></span>
                <p>დაგავიწყდა პაროლი?</p>
            </div>
            <button class="enter_btn">შესვლა</button>
            <div class="or_style">
                <hr>
                <p>ან</p>
                <hr>
            </div>
        </div>                            
    </div>

    <div class="auth_container" style="display: none;">
        <div class="bg_img">
            <div class="hello">გამარჯობა</div>
            <div class="reg_auth">
                <button>ავტორიზაცია</button>
                <button>რეგისტრაცია</button>
            </div>
            <div class="entr_information">
                <input type="text" placeholder="სახელი" name="email" id="email" required>
                <input type="text" placeholder="გვარი" name="email" id="email" required>
                <input type="password" placeholder="პაროლი" name="psw" id="psw" required>
                <input type="password" placeholder="გაიმეორეთ პაროლი" name="psw" id="psw" required>
            </div>
            <div class="login_para">
                <label for="check">
                    <input type="checkbox" name="pass_save" id="pass_save">
                    ვეთანხმები ყველაფერს    
                </label>
                <span></span>
            </div>
            <button>შესვლა</button>
            <div class="or_style">
                <hr>
                <p>ან</p>
                <hr>
            </div>
        </div>
    </div>
</div>