@font-face {
    font-family: 'SF-Medium';
    src: url('/assets/fonts/SFCompactDisplay-Medium.eot'); // <------ example
    src: url('/assets/fonts/SFCompactDisplay-Medium.eot?#iefix') format('embedded-opentype'),
        url('/assets/fonts/SFCompactDisplay-Medium.woff2') format('woff2'),
        url('/assets/fonts/SFCompactDisplay-Medium.woff') format('woff'),
        url('/assets/fonts/SFCompactDisplay-Medium.ttf') format('truetype'),
        url('/assets/fonts/SFCompactDisplay-Medium.svg#SFCompactDisplay-Medium') format('svg');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'SF-Regular';
    src: url('/assets/fonts/SFCompactDisplay-Regular.eot');
    src: url('/assets/fonts/SFCompactDisplay-Regular.eot?#iefix') format('embedded-opentype'),
        url('/assets/fonts/SFCompactDisplay-Regular.woff2') format('woff2'),
        url('/assets/fonts/SFCompactDisplay-Regular.woff') format('woff'),
        url('/assets/fonts/SFCompactDisplay-Regular.ttf') format('truetype'),
        url('/assets/fonts/SFCompactDisplay-Regular.svg#SFCompactDisplay-Regular') format('svg');
    font-weight: 200;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'FiraGO';
    src: url('/assets/fonts/FiraGO-BoldItalic.eot');
    src: url('/assets/fonts/FiraGO-BoldItalic.eot?#iefix') format('embedded-opentype'),
        url('/assets/fonts/FiraGO-BoldItalic.woff2') format('woff2'),
        url('/assets/fonts/FiraGO-BoldItalic.woff') format('woff'),
        url('/assets/fonts/FiraGO-BoldItalic.ttf') format('truetype'),
        url('/assets/fonts/FiraGO-BoldItalic.svg#FiraGO-BoldItalic') format('svg');
    font-weight: bold;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'FiraGO-Bold';
    src: url('/assets/fonts/FiraGO-Bold.eot');
    src: url('/assets/fonts/FiraGO-Bold.eot?#iefix') format('embedded-opentype'),
        url('/assets/fonts/FiraGO-Bold.woff2') format('woff2'),
        url('/assets/fonts/FiraGO-Bold.woff') format('woff'),
        url('/assets/fonts/FiraGO-Bold.ttf') format('truetype'),
        url('/assets/fonts/FiraGO-Bold.svg#FiraGO-Bold') format('svg');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'FiraGO-Book';
    src: url('/assets/fonts/FiraGO-Book.eot');
    src: url('/assets/fonts/FiraGO-Book.eot?#iefix') format('embedded-opentype'),
        url('/assets/fonts/FiraGO-Book.woff2') format('woff2'),
        url('/assets/fonts/FiraGO-Book.woff') format('woff'),
        url('/assets/fonts/FiraGO-Book.ttf') format('truetype'),
        url('/assets/fonts/FiraGO-Book.svg#FiraGO-Book') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'FiraGO Eight';
    src: url('/assets/fonts/FiraGO-Eight.eot');
    src: url('/assets/fonts/FiraGO-Eight.eot?#iefix') format('embedded-opentype'),
        url('/assets/fonts/FiraGO-Eight.woff2') format('woff2'),
        url('/assets/fonts/FiraGO-Eight.woff') format('woff'),
        url('/assets/fonts/FiraGO-Eight.ttf') format('truetype'),
        url('/assets/fonts/FiraGO-Eight.svg#FiraGO-Eight') format('svg');
    font-weight: 100;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'FiraGO Book';
    src: url('/assets/fonts/FiraGO-BookItalic.eot');
    src: url('/assets/fonts/FiraGO-BookItalic.eot?#iefix') format('embedded-opentype'),
        url('/assets/fonts/FiraGO-BookItalic.woff2') format('woff2'),
        url('/assets/fonts/FiraGO-BookItalic.woff') format('woff'),
        url('/assets/fonts/FiraGO-BookItalic.ttf') format('truetype'),
        url('/assets/fonts/FiraGO-BookItalic.svg#FiraGO-BookItalic') format('svg');
    font-weight: normal;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'FiraGO';
    src: url('/assets/fonts/FiraGO-ExtraBoldItalic.eot');
    src: url('/assets/fonts/FiraGO-ExtraBoldItalic.eot?#iefix') format('embedded-opentype'),
        url('/assets/fonts/FiraGO-ExtraBoldItalic.woff2') format('woff2'),
        url('/assets/fonts/FiraGO-ExtraBoldItalic.woff') format('woff'),
        url('/assets/fonts/FiraGO-ExtraBoldItalic.ttf') format('truetype'),
        url('/assets/fonts/FiraGO-ExtraBoldItalic.svg#FiraGO-ExtraBoldItalic') format('svg');
    font-weight: 800;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'FiraGO-ExtraBold';
    src: url('/assets/FiraGO-ExtraBold.eot');
    src: url('/assets/fonts/FiraGO-ExtraBold.eot?#iefix') format('embedded-opentype'),
        url('/assets/fonts/FiraGO-ExtraBold.woff2') format('woff2'),
        url('/assets/fonts/FiraGO-ExtraBold.woff') format('woff'),
        url('/assets/fonts/FiraGO-ExtraBold.ttf') format('truetype'),
        url('/assets/fonts/FiraGO-ExtraBold.svg#FiraGO-ExtraBold') format('svg');
    font-weight: 800;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'FiraGO Eight';
    src: url('/assets/fonts/FiraGO-EightItalic.eot');
    src: url('/assets/fonts/FiraGO-EightItalic.eot?#iefix') format('embedded-opentype'),
        url('/assets/fonts/FiraGO-EightItalic.woff2') format('woff2'),
        url('/assets/fonts/FiraGO-EightItalic.woff') format('woff'),
        url('/assets/fonts/FiraGO-EightItalic.ttf') format('truetype'),
        url('/assets/fonts/FiraGO-EightItalic.svg#FiraGO-EightItalic') format('svg');
    font-weight: 100;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'FiraGO';
    src: url('/assets/fonts/FiraGO-ExtraLight.eot');
    src: url('/assets/fonts/FiraGO-ExtraLight.eot?#iefix') format('embedded-opentype'),
        url('/assets/fonts/FiraGO-ExtraLight.woff2') format('woff2'),
        url('/assets/fonts/FiraGO-ExtraLight.woff') format('woff'),
        url('/assets/fonts/FiraGO-ExtraLight.ttf') format('truetype'),
        url('/assets/fonts/FiraGO-ExtraLight.svg#FiraGO-ExtraLight') format('svg');
    font-weight: 200;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'FiraGO Four';
    src: url('/assets/fonts/FiraGO-Four.eot');
    src: url('/assets/fonts/FiraGO-Four.eot?#iefix') format('embedded-opentype'),
        url('/assets/fonts/FiraGO-Four.woff2') format('woff2'),
        url('/assets/fonts/FiraGO-Four.woff') format('woff'),
        url('/assets/fonts/FiraGO-Four.ttf') format('truetype'),
        url('/assets/fonts/FiraGO-Four.svg#FiraGO-Four') format('svg');
    font-weight: 100;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'FiraGO';
    src: url('/assets/fonts/FiraGO-ExtraLightItalic.eot');
    src: url('/assets/fonts/FiraGO-ExtraLightItalic.eot?#iefix') format('embedded-opentype'),
        url('/assets/fonts/FiraGO-ExtraLightItalic.woff2') format('woff2'),
        url('/assets/fonts/FiraGO-ExtraLightItalic.woff') format('woff'),
        url('/assets/fonts/FiraGO-ExtraLightItalic.ttf') format('truetype'),
        url('/assets/fonts/FiraGO-ExtraLightItalic.svg#FiraGO-ExtraLightItalic') format('svg');
    font-weight: 200;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'FiraGO Four';
    src: url('/assets/fonts/FiraGO-FourItalic.eot');
    src: url('/assets/fonts/FiraGO-FourItalic.eot?#iefix') format('embedded-opentype'),
        url('/assets/fonts/FiraGO-FourItalic.woff2') format('woff2'),
        url('/assets/fonts/FiraGO-FourItalic.woff') format('woff'),
        url('/assets/fonts/FiraGO-FourItalic.ttf') format('truetype'),
        url('/assets/fonts/FiraGO-FourItalic.svg#FiraGO-FourItalic') format('svg');
    font-weight: 100;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'FiraGO Hair';
    src: url('/assets/fonts/FiraGO-Hair.eot');
    src: url('/assets/fonts/FiraGO-Hair.eot?#iefix') format('embedded-opentype'),
        url('/assets/fonts/FiraGO-Hair.woff2') format('woff2'),
        url('/assets/fonts/FiraGO-Hair.woff') format('woff'),
        url('/assets/fonts/FiraGO-Hair.ttf') format('truetype'),
        url('/assets/fonts/FiraGO-Hair.svg#FiraGO-Hair') format('svg');
    font-weight: 100;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'FiraGO Hair';
    src: url('/assets/fonts/FiraGO-HairItalic.eot');
    src: url('/assets/fonts/FiraGO-HairItalic.eot?#iefix') format('embedded-opentype'),
        url('/assets/fonts/FiraGO-HairItalic.woff2') format('woff2'),
        url('/assets/fonts/FiraGO-HairItalic.woff') format('woff'),
        url('/assets/fonts/FiraGO-HairItalic.ttf') format('truetype'),
        url('/assets/fonts/FiraGO-HairItalic.svg#FiraGO-HairItalic') format('svg');
    font-weight: 100;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'FiraGO';
    src: url('/assets/fonts/FiraGO-HeavyItalic.eot');
    src: url('/assets/fonts/FiraGO-HeavyItalic.eot?#iefix') format('embedded-opentype'),
        url('/assets/fonts/FiraGO-HeavyItalic.woff2') format('woff2'),
        url('/assets/fonts/FiraGO-HeavyItalic.woff') format('woff'),
        url('/fonts/FiraGO-HeavyItalic.ttf') format('truetype'),
        url('/assets/fonts/FiraGO-HeavyItalic.svg#FiraGO-HeavyItalic') format('svg');
    font-weight: 900;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'FiraGO';
    src: url('/assets/fonts/FiraGO-Heavy.eot');
    src: url('/assets/fonts/FiraGO-Heavy.eot?#iefix') format('embedded-opentype'),
        url('/assets/fonts/FiraGO-Heavy.woff2') format('woff2'),
        url('/assets/fonts/FiraGO-Heavy.woff') format('woff'),
        url('/assets/fonts/FiraGO-Heavy.ttf') format('truetype'),
        url('/assets/fonts/FiraGO-Heavy.svg#FiraGO-Heavy') format('svg');
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'FiraGO';
    src: url('/fonts/FiraGO-Italic.eot');
    src: url('/assets/fonts/FiraGO-Italic.eot?#iefix') format('embedded-opentype'),
        url('/assets/fonts/FiraGO-Italic.woff2') format('woff2'),
        url('/assets/fonts/FiraGO-Italic.woff') format('woff'),
        url('/assets/fonts/FiraGO-Italic.ttf') format('truetype'),
        url('/assets/fonts/FiraGO-Italic.svg#FiraGO-Italic') format('svg');
    font-weight: normal;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'FiraGO';
    src: url('/assets/fonts/FiraGO-Light.eot');
    src: url('/assets/fonts/FiraGO-Light.eot?#iefix') format('embedded-opentype'),
        url('/assets/fonts/FiraGO-Light.woff2') format('woff2'),
        url('/assets/fonts/FiraGO-Light.woff') format('woff'),
        url('/assets/fonts/FiraGO-Light.ttf') format('truetype'),
        url('/assets/fonts/FiraGO-Light.svg#FiraGO-Light') format('svg');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'FiraGO';
    src: url('/assets/fonts/FiraGO-LightItalic.eot');
    src: url('/assets/fonts/FiraGO-LightItalic.eot?#iefix') format('embedded-opentype'),
        url('/assets/fonts/FiraGO-LightItalic.woff2') format('woff2'),
        url('/assets/fonts/FiraGO-LightItalic.woff') format('woff'),
        url('/assets/fonts/FiraGO-LightItalic.ttf') format('truetype'),
        url('/assets/fonts/FiraGO-LightItalic.svg#FiraGO-LightItalic') format('svg');
    font-weight: 300;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'FiraGO';
    src: url('/assets/fonts/FiraGO-MediumItalic.eot');
    src: url('/assets/fonts/FiraGO-MediumItalic.eot?#iefix') format('embedded-opentype'),
        url('/assets/fonts/FiraGO-MediumItalic.woff2') format('woff2'),
        url('/assets/fonts/FiraGO-MediumItalic.woff') format('woff'),
        url('/assets/fonts/FiraGO-MediumItalic.ttf') format('truetype'),
        url('/assets/fonts/FiraGO-MediumItalic.svg#FiraGO-MediumItalic') format('svg');
    font-weight: 500;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'FiraGO-Medium';
    src: url('/assets/fonts/FiraGO-Medium.eot');
    src: url('/assets/fonts/FiraGO-Medium.eot?#iefix') format('embedded-opentype'),
        url('/assets/fonts/FiraGO-Medium.woff2') format('woff2'),
        url('/assets/fonts/FiraGO-Medium.woff') format('woff'),
        url('/assets/fonts/FiraGO-Medium.ttf') format('truetype'),
        url('/assets/fonts/FiraGO-Medium.svg#FiraGO-Medium') format('svg');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'FiraGO-regular';
    src: url('/assets/fonts/FiraGO-Regular.eot');
    src: url('/assets/fonts/FiraGO-Regular.eot?#iefix') format('embedded-opentype'),
        url('/assets/fonts/FiraGO-Regular.woff2') format('woff2'),
        url('/assets/fonts/FiraGO-Regular.woff') format('woff'),
        url('/assets/fonts/FiraGO-Regular.ttf') format('truetype'),
        url('/assets/fonts/FiraGO-Regular.svg#FiraGO-Regular') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'FiraGO';
    src: url('/assets/fonts/FiraGO-SemiBoldItalic.eot');
    src: url('/assets/fonts/FiraGO-SemiBoldItalic.eot?#iefix') format('embedded-opentype'),
        url('/assets/fonts/FiraGO-SemiBoldItalic.woff2') format('woff2'),
        url('/assets/fonts/FiraGO-SemiBoldItalic.woff') format('woff'),
        url('/assets/fonts/FiraGO-SemiBoldItalic.ttf') format('truetype'),
        url('/assets/fonts/FiraGO-SemiBoldItalic.svg#FiraGO-SemiBoldItalic') format('svg');
    font-weight: 600;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'FiraGO-Semibold';
    src: url('/assets/fonts/FiraGO-SemiBold.eot');
    src: url('/assets/fonts/FiraGO-SemiBold.eot?#iefix') format('embedded-opentype'),
        url('/assets/fonts/FiraGO-SemiBold.woff2') format('woff2'),
        url('/assets/fonts/FiraGO-SemiBold.woff') format('woff'),
        url('/assets/fonts/FiraGO-SemiBold.ttf') format('truetype'),
        url('/assets/fonts/FiraGO-SemiBold.svg#FiraGO-SemiBold') format('svg');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'FiraGO';
    src: url('/assets/fonts/FiraGO-ThinItalic.eot');
    src: url('/assets/fonts/FiraGO-ThinItalic.eot?#iefix') format('embedded-opentype'),
        url('/assets/fonts/FiraGO-ThinItalic.woff2') format('woff2'),
        url('/assets/fonts/FiraGO-ThinItalic.woff') format('woff'),
        url('/assets/fonts/FiraGO-ThinItalic.ttf') format('truetype'),
        url('/assets/fonts/FiraGO-ThinItalic.svg#FiraGO-ThinItalic') format('svg');
    font-weight: 100;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'FiraGO';
    src: url('/assets/fonts/FiraGO-Thin.eot');
    src: url('/assets/fonts/FiraGO-Thin.eot?#iefix') format('embedded-opentype'),
        url('/assets/fonts/FiraGO-Thin.woff2') format('woff2'),
        url('/assets/fonts/FiraGO-Thin.woff') format('woff'),
        url('/assets/fonts/FiraGO-Thin.ttf') format('truetype'),
        url('/assets/fonts/FiraGO-Thin.svg#FiraGO-Thin') format('svg');
    font-weight: 100;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'FiraGO Two';
    src: url('/assets/fonts/FiraGO-TwoItalic.eot');
    src: url('/assets/fonts/FiraGO-TwoItalic.eot?#iefix') format('embedded-opentype'),
        url('/assets/fonts/FiraGO-TwoItalic.woff2') format('woff2'),
        url('/assets/fonts/FiraGO-TwoItalic.woff') format('woff'),
        url('/assets/fonts/FiraGO-TwoItalic.ttf') format('truetype'),
        url('/assets/fonts/FiraGO-TwoItalic.svg#FiraGO-TwoItalic') format('svg');
    font-weight: 100;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'FiraGO Two';
    src: url('/assets/fonts/FiraGO-Two.eot');
    src: url('/assets/fonts/FiraGO-Two.eot?#iefix') format('embedded-opentype'),
        url('/assets/fonts/FiraGO-Two.woff2') format('woff2'),
        url('/assets/fonts/FiraGO-Two.woff') format('woff'),
        url('/assets/fonts/FiraGO-Two.ttf') format('truetype'),
        url('/assets/fonts/FiraGO-Two.svg#FiraGO-Two') format('svg');
    font-weight: 100;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'FiraGO';
    src: url('/assets/fonts/FiraGO-UltraLight.eot');
    src: url('/assets/fonts/FiraGO-UltraLight.eot?#iefix') format('embedded-opentype'),
        url('/assets/fonts/FiraGO-UltraLight.woff2') format('woff2'),
        url('/assets/fonts/FiraGO-UltraLight.woff') format('woff'),
        url('/assets/fonts/FiraGO-UltraLight.ttf') format('truetype'),
        url('/assets/fonts/FiraGO-UltraLight.svg#FiraGO-UltraLight') format('svg');
    font-weight: 200;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'FiraGO';
    src: url('/assets/fonts/FiraGO-UltraLightItalic.eot');
    src: url('/assets/fonts/FiraGO-UltraLightItalic.eot?#iefix') format('embedded-opentype'),
        url('/assets/fonts/FiraGO-UltraLightItalic.woff2') format('woff2'),
        url('/assets/fonts/FiraGO-UltraLightItalic.woff') format('woff'),
        url('/assets/fonts/FiraGO-UltraLightItalic.ttf') format('truetype'),
        url('/assets/fonts/FiraGO-UltraLightItalic.svg#FiraGO-UltraLightItalic') format('svg');
    font-weight: 200;
    font-style: italic;
    font-display: swap;
}