/*------------------------------------*\
  #Icon-fonts
\*------------------------------------*/
@font-face {
    font-family: 'icomoon';
    src:  url('./assets/fonts/icomoon.eot?9pp69x');
    src:  url('./assets/fonts/icomoon.eot?9pp69x#iefix') format('embedded-opentype'),
      url('./assets/fonts/icomoon.ttf?9pp69x') format('truetype'),
      url('./assets/fonts/icomoon.woff?9pp69x') format('woff'),
      url('./assets/fonts/icomoon.svg?9pp69x#icomoon') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: block;
  }
  
  [class^="icon-"], [class*=" icon-"] {
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: 'icomoon' !important;
    speak-as: never;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
  
    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
  
  .icon-bookmark-2:before {
    content: "\e900";
    color: #ff5a5f;
  }
  .icon-bookmark:before {
    content: "\e901";
  }
  .icon-briefcase:before {
    content: "\e902";
  }
  .icon-check:before {
    content: "\e903";
    color: #fff;
  }
  .icon-down:before {
    content: "\e904";
  }
  .icon-edit:before {
    content: "\e905";
  }
  .icon-help-circle:before {
    content: "\e906";
  }
  .icon-home:before {
    content: "\e907";
  }
  .icon-info:before {
    content: "\e908";
  }
  .icon-log-out:before {
    content: "\e909";
  }
  .icon-more-horizontal:before {
    content: "\e90a";
  }
  .icon-plus:before {
    content: "\e90b";
    color: #6050dc;
  }
  .icon-search:before {
    content: "\e90c";
  }
  .icon-send:before {
    content: "\e90d";
  }
  .icon-star:before {
    content: "\e90e";
    color: #f1c40f;
  }
  .icon-user-check:before {
    content: "\e90f";
  }
  .icon-user-search:before {
    content: "\e910";
  }
  .icon-x:before {
    content: "\e911";
  }
  