// 12 -> 14 -> 16 -> 16 -> 20 -> 24
  // @import url('https://fonts.googleapis.com/css2?family=Fira+Sans:ital,wght@0,100;0,300;0,400;0,500;0,700;1,100;1,300;1,400;1,500;1,700&display=swap');
  //   @font-face {
  //       font-family: "firaGObook";
  //       src: url("/assets/fonts/firaGO/FiraGO_TTF/Roman/FiraGO-Book.ttf");
  //   }
  //   @font-face {
  //       font-family: "firaGOmedium";
  //       src: url("/assets/fonts/firaGO/FiraGO_TTF/Roman/FiraGO-Medium.ttf");
  //   }
  //   @font-face {
  //       font-family: "firaGObold";
  //       src: url("/assets/fonts/firaGO/FiraGO_TTF/Roman/FiraGO-Bold.ttf");
  //   }
  //   @font-face {
  //       font-family: "firaGOlight";
  //       src: url("/assets/fonts/firaGO/FiraGO_TTF/Roman/FiraGO-Light.ttf");
  //   }
  //   @font-face {
  //       font-family: "firaGOregular";
  //       src: url("/assets/fonts/firaGO/FiraGO_TTF/Roman/FiraGO-Regular.ttf");
  //   }
  //   @font-face {
  //       font-family: "firaGOsemibold";
  //       src: url("/assets/fonts/firaGO/FiraGO_TTF/Roman/FiraGO-SemiBold.ttf");
  //   }



  // COLORS SIR

$gb-color: #f2f2f2;
$green: #03c03c;
$red: #d2122e;
$yellow: #f1c40f;
$black-red: #393030;
$Slate-Blue: #7b68ee;
$Majorelle-Blue: #6050dc;
$font-black: #201D1D;
$light-blue: #0084FF;



  //shadow

$box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16);


/*------------------------------------*\
  #Fonts-mix
\*------------------------------------*/

@mixin font($s, $f, $c){
    font-size: $s;
    font-family: $f;
    color: $c;
}

/*------------------------------------*\
  #Item-mix
\*------------------------------------*/

@mixin btn($w, $h){
    width: $w;
    height: $h;
    color: white;
    border: none;
    background: linear-gradient($Majorelle-Blue, $Slate-Blue);
    border-radius: 5px;
    cursor: pointer;
}
@mixin filter-btn {
    color: #201D1D;
    background-color: white;
    border: 1px solid $Majorelle-Blue;
    border-radius: 5px;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16);
    cursor: pointer;
}
@mixin filter-box($w, $h) {
    width: $w;
    height: $h;
    background-color: white;
    border: 1px solid #0084FF;
    border-radius: 5px;
    box-shadow: $box-shadow;
}
@mixin filter-text-input {
    width: 79px;
    height: 26px;
    background-color: $gb-color;
    color: white;
    border: none;
    border-radius: 5px;
}

@mixin Hflex(){
  display:flex;
  align-items: center;
  justify-content: center;
}

@mixin Vflex(){
  display:flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
