@import "~src/assets/style/link";

/*------------------------------------*\
  #Header
\*------------------------------------*/

.header {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 24px 0;

    form {
        .textar {
            vertical-align: top;
            height: 43px;
            width: 204px;
            border: none;
            border-radius: 5px;
            box-shadow: $box-shadow;
            padding-left: 16px;

            &::placeholder {
                @include font (16px, FiraGO-regular, $font-black);
            }
        }
        .sub-btn {
            margin-left: 8px;
            @include btn(43px, 43px);
        }
    }
    .btn-f {
        @include filter-btn;
        height: 43px;
    }
    .btn-1{
        width: 135px;
        @include font (16px, FiraGO-regular, $font-black);
    }
    .btn-2{
        width: 134px;
        @include font (16px, FiraGO-regular, $font-black);
    }
    .btn-3{
        width: 178px;
        @include font (16px, FiraGO-regular, $font-black);
    }
    .btn-4{
        width: 135px;
        border: none;
        background-color: #FBF9F9;
        color: #201D1D;
        border-radius: 5px;
        box-shadow: $box-shadow;
        @include font(14px, FiraGO-regular, $font-black);
    }
}




/*------------------------------------*\
  #Content
\*------------------------------------*/

.home-section {
    padding: 24px 46px;
    width: 49.17695473251029%;
    background-color: white;
    border-radius: 10px;
    box-shadow: 2px 0 6px rgba(0, 0, 0, 0.16);
}
.home-title {
    text-align: center;
    margin-bottom: 16px;
    @include font(23px, FiraGO-Medium, $font-black)
}
.home-container {
    display: flex;
    justify-content: space-between;
}