@import "~src/assets/style/link";

/*------------------------------------*\
  #Navigation
\*------------------------------------*/

.navigation {
    position: fixed;
    background-color: white;
    width: 307px;
    height: 768px;
    border-radius: 0 25px 25px 0;
    box-shadow: 2px 0 6px rgba(0, 0, 0, 0.16);
}
.nav-img {
    margin: 40px 123px 0 95px;
}
.nav-bar {
    margin: 42px 0 185px 49px;

    ul {
        div {
            width: 164px;
            margin: 24px 0 24px 0;
            border-bottom: 1px solid #201D1D;
            opacity: 15%;
        }

        li {
            margin-top: 24px;

            a {
                @include font (16px, FiraGO-regular, $font-black);

                span {
                    margin-right: 8px;
                    font-weight: 600;
                    opacity: 80%;
                }
            }
        }
    }
}
.btn-enter {
    margin: 0 auto;
    display: block;
    color: white;
    @include btn(120px, 55px);
    @include font (16px, FiraGO-Semibold, white);
}