<!--When the bookmarks is empty-->

<!-- <div class="empty_bookmark">
    <div class="empty_bookmark_man"></div>
    <div class="empty_bookmark_board">
        <h1 class="empty_bookmark_text">თქვენ არ გაქვთ შენახული განცხადება</h1>
    </div>
</div> -->




<!--Bookmarks-->

<div class="bookmark_bg">
    <span class="icon-bookmark-2 markic"></span>
    <div class="cont1">
        <img src="../../../assets/img/ashton-bingham-EQFtEzJGERg-unsplash.png" alt="profile_img">
        <div class="name_box">
            <h5 class="name">ნიკა</h5>
            <h5 class="lastname">გარაშვილი</h5>
            <p class="proffesion">UI designer</p>
        </div>
    </div>
    <div class="cont2">
        <div class="rate">
            <input type="radio" id="star1" name="rate" value="1" />
            <label class="icon-star" for="star3" title="text"></label>
            <input type="radio" id="star2" name="rate" value="2" />
            <label class="icon-star" for="star3" title="text"></label>
            <input type="radio" id="star3" name="rate" value="3" />
            <label class="icon-star" for="star3" title="text"></label>
            <input type="radio" id="star4" name="rate" value="4" />
            <label class="icon-star" for="star3" title="text"></label>
            <input type="radio" id="star5" name="rate" value="5" />
            <label class="icon-star" for="star3" title="text"></label>
        </div>
        <p class="statement">განცხადების დასახელება</p>
        <p class="date">25 მარტი</p>
    </div>
    <div class="cont3">
        <button class="message-btn">
            <span class="icon-briefcase"></span>
        </button>
        <button class="price-btn">800 - 900 ლ.</button>
    </div>
</div>